.container{
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  .inputMax{
    margin-top: 15px;
    margin-bottom: 15px;
    Input{
    height: 30px;
    font-size: 25px;
    width: 180px;
   margin-left: 5px;
 }
}
  .allButtons{
    display: grid;
    grid-template-columns: 65px 65px 65px;
    align-self: center;
    
  .btn{
    border-radius: 75%;
    height: 57px;
    width: 57px;
    font-size: 25px;
    background-color: aquamarine;
    margin: 10px 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    .btn:hover{
      background-color: orange;
    }
}
    .btncount{
  border-radius: 75%;
    height: 57px;
    width: 57px;
    font-size: 25px;
    background-color: orange;
    margin: 10px 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
}
.btn:hover{
opacity: 0.8;  
background-color: papayawhip;
}
.btncount:hover{
  opacity: 0.8;  
  background-color: papayawhip;
}
}





